@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* 
  Gradient top: #FFA800
  Gradient bottom: #E26D00
  Text: #3E3E3E
*/

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #1D1D1D;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0px;
  padding: 10px 0;
}

h3 {
  margin: 0px;
  font-weight: 400;
  color: #ffffff;
}

.color-primary {
  color: #FFA800;
}
.color-secondary {
  color: #E26D00;
}

.hover:hover {
  position: relative;
  cursor: pointer;
  color: #ffaa0091;
}
.hover:hover::after {
  position: absolute;
  content: '@snakesinthelake';
  width: auto;
  margin: auto 0px;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  height: 1.2rem;
  background-color: #454545;
  color: white;
  opacity: 1 !important;
  font-size: 12px;
  border-radius: 6px;
  padding: 3px 8px;
}

.panel {
  position: relative;
  background-color: #262626;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.102);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  margin: 100px auto;
  padding: 30px 30px;
}

.panel img {
  min-width: none;
  max-width: none;
  width: 35vw;
}

#drop-zone {
  position: relative;
  display: flex;
  border: 2.5px dashed #454545;
  border-radius: 5px;
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: border 200ms ease;
}

#drop-zone.hover-file {
  border: 2.5px dashed #7a7a7a;
}
#drop-zone.dropped-file {
  border: 2.5px dashed #E26D00;
}

#drop-zone p {
  margin: 0;
}

#drop-zone svg {
  min-width: none;
  max-width: none;
  width: 7vw;
}

.arrow-box #group #arrow {
  transition: all 0.5s ease;
}

#drop-zone.hover-file .arrow-box #group #arrow {
  d: path('M51.1422 33.6863L38.4143 46.4142C37.6333 47.1953 36.3669 47.1953 35.5859 46.4142L22.858 33.6863C22.0769 32.9052 22.0769 31.6389 22.858 30.8579C23.639 30.0768 24.9053 30.0768 25.6864 30.8579L35.0001 40.1716L35.0001 10C35.0001 8.89543 35.8955 8 37.0001 8C38.1047 8 39.0001 8.89543 39.0001 10L39.0001 40.1716L48.3138 30.8579C49.0949 30.0768 50.3612 30.0768 51.1422 30.8579C51.9233 31.6389 51.9233 32.9052 51.1422 33.6863Z');
}

#drop-zone.dropped-file .arrow-box #group #arrow {
  d: path('M64 46L38.3284 46C36.9999 46 36.9999 46 35.5 46L10 46C8.00006 46 8.00011 45.9999 8.00006 44.5C8 43 8.00006 43 10 43L30 43L35 42.9999C35.9999 42.9999 35.8953 43 36.9999 43C38.1044 43 37.9999 43 39 42.9999L44 43L64 43C66 43 66 43 66 44.5C66 46 66 45.9999 64 46Z');
}


#upload-bar {
  position: relative;

}

#upload-bar p {
  visibility: visible;
  top: 0;
  left: 0;
}

#upload-bar.dropped-file p {
  visibility: hidden;
}

#upload-bar .progress-container {
  visibility: hidden;
  position: absolute;
}
#upload-bar.dropped-file .progress-container {
  position: absolute;
  visibility: visible;
  background-color: #454545;
  top: 50%;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  
}

.progress-container #progress-bar {
  position: relative;
  background-color: #E26D00;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}

#files-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40%, 1fr));
  column-gap: 10px;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: solid 2.5px #45454500;
  border-radius: 5px;
  
  transition: all 200ms ease;
}

.file a.file-download {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 20px;
}

.file .file-paper {
  max-width: none;
  min-width: none;
  width: 1.2em;
  margin-right: 20px;
}

.file .file-close {
  margin-right: 20px;
  max-width: none;
  min-width: none;
  width: 1.2em;
}
.file .file-close g {
  opacity: 0;
  fill: #454545;
  transition: all 200ms ease;
}
.file:hover .file-close:hover g {
  fill: url(#paint0_linear_349_682);
}

.file .file-paper #arrow {
  transition: all 200ms ease;
  transform: translateY(-100%);
}

.file:hover {
  border: solid 2.5px #454545;
  border-radius: 5px;
}

.file:hover .file-paper #arrow {
  transform: translateY(0%);
}

.file:hover .file-close g {
  opacity: 1;
}

.file .file-paper #pap {
  transition: all 200ms ease;
  opacity: 1;
}

.file:hover .file-paper #pap {
  opacity: 0;
}